html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* make body and html take full viewport height */
}

.homeImage {
  min-height: 100vh; /* full viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background-image: url("./assets/Asi1.jpg"); your image */
  background-size: cover; /* cover the whole area */
  background-position: center; /* center the image */
  background-repeat: no-repeat;
  color: rgb(0, 0, 0); /* text will show on top of the image */
}

.title {
  color: rgb(0, 33, 151);
  text-decoration: underline;
  font-size: 50px;
}

.me {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
}
