:root {
  --globalBackGround: #1e1e1e;
  --globalTextColor: white;
}

body,
html,
#root {
  direction: rtl;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--globalBackGround);
  color: var(--globalTextColor);
  font-family: Arial, sans-serif;
}

p {
  font-size: 20px;
  line-height: 1.5;
}
