html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* make body and html take full viewport height */
}

.secretCover {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* maybe center for secret */
  background-image: url("./assets/Asi2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}
